.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 2rem 0;
}

.player-card {
  border-bottom: 1px solid black;
  width: 50%;
}

.page-btn {
  margin: 2rem 1rem;
}
